/*
	Template: Custom Template Boilerplate
	Description : This is the .css file associated with the above template. This file gets loaded when using the above
						template to display a custom opt-in form for YIKES Inc. Easy MailChimp Extender.
	Author : YIKES Inc.
	Author Contact : http://www.yikesinc.com
*/

/*************************************************************************************************************************/
